.header {
  text-align: center;
  color: #fff;
  padding-top: 60px;
  margin-bottom: 40px;
}

img {
  width: 200px;
  margin: 0 auto 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
